.site-footer {
    background-color: #022c46;
<<<<<<< HEAD
  

    &__bottom {
        position: relative;
=======

    &__bottom {
>>>>>>> 4b76345db575fda0d64a8494b5ff2cd29a2a0a00
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
<<<<<<< HEAD
            flex-wrap: wrap;
           
           
=======
>>>>>>> 4b76345db575fda0d64a8494b5ff2cd29a2a0a00
        }

        background-color: #012237;
    }

    &__copy {
        color: #94a3ac;
        font-size: 15px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin: 0;
<<<<<<< HEAD
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
=======
>>>>>>> 4b76345db575fda0d64a8494b5ff2cd29a2a0a00

        a {
            color: $thm-base-color;
            margin-left: 10px;
            transition: all .4s ease;
<<<<<<< HEAD
           
=======

>>>>>>> 4b76345db575fda0d64a8494b5ff2cd29a2a0a00
            &:hover {
                color: #fff;
            }
        }
    }

    &__social {
        display: flex;
        align-items: center;
<<<<<<< HEAD
        justify-content: space-between;
        padding: 35px 0;
        flex-wrap: wrap;
        margin: 10px;
        margin-right: 40px;
        @media(max-width:576px){
            margin-right: 40px;
        }
       


        
=======
        padding: 35px 0;
        padding-right: 70px;
        padding-left: 30px;

        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100000px;
            height: 100%;
            background-color: #022c46;
        }
>>>>>>> 4b76345db575fda0d64a8494b5ff2cd29a2a0a00

        a {
            color: #94a3ac;
            font-size: 20px;
            transition: all .4s ease;
            position: relative;
            z-index: 10;
<<<<<<< HEAD
            margin-right: 20px;
=======
>>>>>>> 4b76345db575fda0d64a8494b5ff2cd29a2a0a00

            &:hover {
                color: $thm-base-color;
            }

            +a {
<<<<<<< HEAD
                margin-right: 20px;
                @media (max-width:576px) {
                    margin-left: 0px;
                }
=======
                margin-left: 40px;
>>>>>>> 4b76345db575fda0d64a8494b5ff2cd29a2a0a00
            }
        }
    }

    &__scroll-top {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
<<<<<<< HEAD
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute !important;
        bottom: 10px;
        right: 10px;
=======
        width: 60px;
        height: 60px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute !important;
        top: 0;
        left: 0;
        transform: translateX(-50%) translateY(-50%);
>>>>>>> 4b76345db575fda0d64a8494b5ff2cd29a2a0a00

        i {
            font-size: 22px;
            color: #012237;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -5px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid #fff;
            transition: all .4s ease;
        }

        &:hover {
            color: $thm-base-color;

            &:before {
                left: 0;
            }
        }
    }
}


.footer-widget {
<<<<<<< HEAD
    padding:120px 20px;
    @media(max-width:992px){
        padding:40px 30px!important;
    }


    .list-unstyled {
        margin: 0;
       
=======
    padding-top: 120px;
    padding-bottom: 120px;

    .list-unstyled {
        margin: 0;
>>>>>>> 4b76345db575fda0d64a8494b5ff2cd29a2a0a00
    }

    &__text {
        margin: 0;
        font-size: 15px;
        line-height: 30px;
        color: #94a3ac;
        margin-top: -10px;
    }

    &__about {
        position: relative;

        &::before {
            content: '';
<<<<<<< HEAD
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
=======
            width: 100000px;
            height: 100%;
            position: absolute;
            top: 0;
            left: -60px;
>>>>>>> 4b76345db575fda0d64a8494b5ff2cd29a2a0a00
            background-color: #012237;
        }

        * {
            position: relative;
        }
    }

    &__title {
        margin: 0;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        line-height: 1em;
        margin-bottom: 48px;
<<<<<<< HEAD
        
    }
    .footer__title__gallery{
        @media(max-width:576px){
            padding-left: 20px;
        }
=======
>>>>>>> 4b76345db575fda0d64a8494b5ff2cd29a2a0a00
    }

    &__link-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__gallery {
        position: relative;
        left: -35px;
        padding-right: 52px;
    }

    &__gallery-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -5px !important;
        margin-right: -5px !important;
<<<<<<< HEAD
        margin-top: -10px;
        @media(max-width:576px){
            margin: 0px!important;
            padding-left: 15px;
        }
=======

        margin-top: -10px;
>>>>>>> 4b76345db575fda0d64a8494b5ff2cd29a2a0a00

        li {
            flex: 1 1 33.33333%;
            padding-left: 5px;
            padding-right: 5px;
            margin-top: 10px;

            a {
                display: block;

                img {
                    width: 100%;
                }
            }
        }
    }

    &__btn-block {
        margin-top: 30px;

        .thm-btn:nth-child(2) {
            background-color: $thm-base-color-2;
<<<<<<< HEAD
            margin-top: 10px;
            @media(max-width:1200px){
                margin-left: 10px!important;
                margin-top: 0px!important;
            }
            @media(max-width:576px){
                margin-left: 0px!important;
            }
=======
            margin-left: 10px;
>>>>>>> 4b76345db575fda0d64a8494b5ff2cd29a2a0a00

            &:hover {
                background-color: #fff;
                color: $thm-black;
            }
        }
    }

    &__link {
        padding-right: 60px;
        position: relative;
        left: -20px;
    }

    &__link-list {
        li {
            line-height: 1em;

            +li {
                margin-top: 20px;
            }

            a {
                color: #94a3ac;
                font-size: 15px;
                font-weight: 500;
                transition: all .4s ease;

                &:hover {
                    color: $thm-base-color;
                }
            }
        }
    }

    &__course-list {
        li {
            +li {
                margin-top: 38px;
            }

            h2 {
                margin: 0;
                font-size: 15px;
                color: #94a3ac;
                font-weight: 500;
                margin-bottom: 10px;

                a {
                    color: inherit;
                    transition: all .4s ease;
                }
            }

            p {
                margin: 0;
                font-size: 15px;
                color: #fff;
                font-weight: 600;
            }
        }
    }

<<<<<<< HEAD
}
.footer-widget__contact{
    padding-left: 0px!important;
    padding-right: 0px!important;
=======
>>>>>>> 4b76345db575fda0d64a8494b5ff2cd29a2a0a00
}